.header-div {
    background-color: var(--color-colombia-blue);
    width: 100vw;
    height: 6em;
    position: fixed;
    top:0em;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
}