.hamburger-menu-div {
    /* border: 1px solid green; */
    box-shadow: var(--shadow-normal);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40em;
    padding-bottom: 1em;
    position: fixed;
    top: 6em;
    left: 0em;
    background-color: white;
    z-index: 20;
    background: linear-gradient(50deg, #ffffff 55%, #fff5c4 55% 55%, #ffffff 80%);
}

.hamburger-links {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    font-size: 1em;
    padding: 2em;
}

.hamburger-links > * {
    border: 1px solid #424242;
    padding: 0.5em;
    background: #313131;
    color: white;
    transition: 0.2s;
    font-size: 1.5em;
    border-radius: var(--radius-small);
    margin: 1em;
    text-align: center;


}

.hamburger-links > *:hover {
    background: white;
    color: black;
    transition: 0.2s;
}

.hamburger-links > *:active {
    background-color: #FFFFFF;
}
.hamburger-links > *.active {
    background: linear-gradient(230deg, #FFFFFF 55%, var(--color-jonquil) 55%, #ffffff);
    color: black;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: black;
}

@media (max-width: 500px) {
    .hamburger-links > * {
        font-size: 1em;
    }
}