.hamburger-menu-div {
    /* border: 1px solid green; */
    box-shadow: var(--shadow-normal);
    width: 100%;
    padding-bottom: 1em;
    position: fixed;
    top: 6em;
    background-color: white;
    z-index: 20;
}

.hamburger-links {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    font-size: 2em;
    padding: 2em;
}

.hamburger-links > * {
    text-decoration: none;
    font-size: 1.5em;
    color: black;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.425);
    border: 1px solid var(--color-light-sea-green);
    border-radius: 0.5em;
    padding: 1em;
    transition: 0.2s;
}

.hamburger-links > *:hover {
    transition: 0.2s;
    background-color: var(--color-colombia-blue);
}

.hamburger-links > *:active {
    background-color: var(--color-light-sea-green);
}
.hamburger-links > *.active {
    background-color: var(--color-light-sea-green);
}

a {
    text-decoration: none;
    color: black;
}