
* {
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
}

main {
    /* background: url("./assets/wallpaper2.jpg"); */
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

body::-webkit-scrollbar {
    display: none;
  }

body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.body {
    height: 100vh;
}

:root {

    /* FÄRGER */
    --color-colombia-blue: #BBDEF0;
    --color-light-sea-green: #00A6A6;
    --color-jonquil: #EFCA08;
    --color-gamboge: #F49F0A;
    --color-tangerine: #F08700;

    /* SKUGGOR */
    --shadow-normal: 1px 5px 6px #0000003d;
    --shadow-hover: 1px 10px 12px #0000003d;
    --shadow-active: 1px 2px 3px #0000003d;

    /* TRANSFORM */
    --transform-hover: scale(102%);
    --transform-active: scale(100%);

    /* AVRUNDNING AV HÖRN */
    --radius-small: 0.2em;
    --radius-medium: 0.5em;
}

.input {
    border: 2px solid #000000;
}

.invalid {
    border: 2px solid #ff0000;
}

.valid {
    border: 2px solid #00ad00;
}